.header-container {
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: #007bff;
  color: #fff;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
  
.header-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-left: 850%;
}

.header-profile{
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-right: 10px;
}

.header-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
 