.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .footer button {
    border: none;
    background: transparent;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer button img {
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
  }
  
  .footer button.selected img {
    filter: invert(50%);
  }
  
  .footer button.unselected img {
    filter: invert(70%);
  }
  
  