.favorite-recipes{
  display: inline;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  margin-top: 20px;
  height: 400px;
}

.favorite-recipes-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 20px;
}
